server:
  port: 8888

http-logging:
  async: true
  filter:
    request-headers:
      excludes:
        - Authorization
  auth:
    jwt:
      enabled: true
      user-claim: preferred_username
      realm-claim-name: iss
      realm-expression: ([^/]+)/?$
    basic:
      enabled: true
      realm-header-name: x-realm
  capture:
    enabled: true
    log-directory: /tmp/cloud-gateway/raw
  providers:
    clickhouse:
      enabled: true
      url: jdbc:clickhouse://localhost:8123?database=default
      username: default
      password: default
      connection-init-sql: SET async_insert=1,wait_for_async_insert=1
    direct_file:
      enabled: true
      pattern: '{{ timestamp | date("yyyy-MM-dd''T''HH:mm:ss.SSSXXX") }} {{gateway_request_id}} {{realm_claim}} {{user_claim}} {{method}} {{path}} {{host}} {{duration}} {{status}} {{user_agent}}'
      storage-directory: /tmp/cloud-gateway/archive
      max-rollover-size: 1MB
    file:
      enabled: true
      pattern: '{{gateway_request_id}} {{realm_claim}} {{user_claim}} {{method}} {{path}} {{host}} {{request_headers["Content-Length"][0]}} {{status}} {{user_agent}} {{duration | numberformat("#.###") }}'
  matchers:
    - id: All
      predicates:
        - Path=/**
        - NotMethod=OPTION
        #- Header:
        #    name: X-Request-Id
        #    regexp: \d+
      request:
        raw: STORE
        body: STORE
      response:
        body: STORE
        raw: STORE
    #logging:
    #  level:
    #com.ethlo.http: DEBUG
    #chronograph: DEBUG
    #org.springframework.cloud.gateway: INFO
    #org.springframework.cloud.gateway.server.mvc.config: TRACE
    #org.springframework.cloud.gateway.server.mvc.predicate: TRACE
    #org.springframework.cloud.gateway.server.mvc.filter: TRACE
management:
  endpoints:
    web:
      exposure:
        include: health,metrics,status
  endpoint:
    env:
      show-values: when_authorized
spring:
  cloud:
    gateway:
      mvc:
        http-client:
          # Connection timeout in milliseconds
          connect-timeout: 3000
          # Response (read) timeout as a Duration
          read-timeout: 30s
      filter:
        request-rate-limiter:
          enabled: true
          deny-empty-key: false
          empty-key-status-code: 403
      metrics:
        tags:
          path:
            enabled: true
        enabled: true
      routes:
        - id: dynamic-hosts
          uri: http://default
          predicates:
            - Path=/hosts/**
          #filters:
          #  - PathHost=1
        - id: http-bin-delay
          uri: http://localhost:8080/delay
          predicates:
            - Path=/delay/**
        - id: http-bin-get
          uri: http://localhost:8080/get
          predicates:
            - Path=/get
          filters:
            - name: InjectBasicAuth
              args:
                username: foo
                password: bar
            - SetRequestHeader=x-realm,baz
            #- name: InjectAccessTokenAuth
            #  args:
            #    client-id: my-client
            #    token-url: https://login.example.com/auth/realms/my-realm/protocol/openid-connect/token
            #    refresh-token: ey...
        - id: http-bin-anything
          uri: http://localhost:8080/anything
          predicates:
            - Host=*
          filters:
            - name: CorrelationIdHeader
              args:
                headerName: Correlation-Id
            - name: RequestRateLimiter
              args:
                replenishRate: 2
                refreshPeriod: 10
        - id: http-upstream-missing
          uri: http://192.0.0.255
          predicates:
            - Path=/504
  web:
    resources:
      static-locations:
        - file:/static
  webmvc:
    problem-details:
      enabled: true