<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark"/>
    <link rel="stylesheet" href="status/css">
    <title>Cloud Gateway status</title>
    <style>
        .left-col {
            width: 300px;
        }

        .right {
            text-align: right;
        }
    </style>
</head>
<body>
<main class="container">
    <h1>Cloud Gateway - Status</h1>
    <h3>Log provider I/O processing</h3>
    <section id="processing">
        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col" class="right">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for e in logio %}
                <tr>
                    <th scope="row" class=left-col">{{e.key}}</th>
                    <td class="right">{{e.value}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <h3>ClickHouse</h3>
    <h4>Storage metrics</h4>
    <section id="clickhouse">
        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">Property</th>
                    <th scope="col" class="right">Value</th>
                </tr>
                </thead>
                <tbody>
                {% for e in clickhouse %}
                <tr>
                    <th scope="row" class=left-col">{{e.key}}</th>
                    <td class="right">{{e.value}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
    <h4>Inserts last {{clickhouse_minute_interval_count}} minutes</h4>
    <section id="clickhouse-queries">
        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col" class="right">Inserts</th>
                    <th scope="col" class="right">Average insert time</th>
                </tr>
                </thead>
                <tbody>
                {% for e in clickhouse_minute_queries %}
                <tr>
                    <td class=left-col">{{e.event_time}}</td>
                    <td class="right">{{e.count}}</td>
                    <td class="right">{{e.avg_insert_duration}} ms</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <h4>Inserts last {{clickhouse_hour_interval_count}} hours</h4>
    <section id="clickhouse-queries-hour">
        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col" class="right">Inserts</th>
                    <th scope="col" class="right">Average insert time</th>
                </tr>
                </thead>
                <tbody>
                {% for e in clickhouse_hour_queries %}
                <tr>
                    <td class=left-col">{{e.event_time}}</td>
                    <td class="right">{{e.count}}</td>
                    <td class="right">{{e.avg_insert_duration}} ms</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>

    <h4>Inserts last {{clickhouse_day_interval_count}} days</h4>
    <section id="clickhouse-queries-days">
        <div class="overflow-auto">
            <table class="striped">
                <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col" class="right">Inserts</th>
                    <th scope="col" class="right">Average insert time</th>
                </tr>
                </thead>
                <tbody>
                {% for e in clickhouse_day_queries %}
                <tr>
                    <td class=left-col">{{e.event_time}}</td>
                    <td class="right">{{e.count}}</td>
                    <td class="right">{{e.avg_insert_duration}} ms</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>


</main>
</body>
</html>