<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d){blue} %clr(%5p){faint} %clr([%t]){yellow} [%c:%L] - %m%n%ex
            </pattern>
        </encoder>
    </appender>

    <appender name="access-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${java.io.tmpdir}/reverse-proxy-access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${java.io.tmpdir}/reverse-proxy-access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>100</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d - %m%n%ex
            </pattern>
        </encoder>
        <!--
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logstashMarkers/>
                <pattern>
                    <omitEmptyFields>true</omitEmptyFields>
                </pattern>
            </providers>
        </encoder>
        -->
    </appender>

    <logger name="access-log" additivity="false">
        <appender-ref ref="access-file" />
    </logger>

    <logger name="org.springframework.boot.context.config" level="TRACE" />

    <logger name="com.ethlo.http" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>