<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="light dark" name="color-scheme"/>
    <link href="status/css" rel="stylesheet">
    <title>Cloud Gateway status</title>
    <style>
        .right {
            text-align: right;
        }
    </style>
</head>
<body>
<main class="container">
    <h1>Cloud Gateway - Status</h1>

    {% if capture_config.enabled %}

    {% include '_generic_map.tpl.html' with {'map': logio , 'title': 'Log provider I/O processing'} %}

    {% include '_generic_map.tpl.html' with {'map': clickhouse , 'title': 'ClickHouse storage metrics'} %}

    {% include "_queryload.tpl.html" with {'clickhouse_queries': clickhouse_minute_queries, 'interval_count':
    clickhouse_minute_interval_count, 'interval_unit': 'minutes'} %}

    {% include "_queryload.tpl.html" with {'clickhouse_queries': clickhouse_hour_queries, 'interval_count':
    clickhouse_hour_interval_count, 'interval_unit': 'hours'} %}

    {% include "_queryload.tpl.html" with {'clickhouse_queries': clickhouse_day_queries, 'interval_count':
    clickhouse_day_interval_count, 'interval_unit': 'days'} %}

    {% endif %}

    <details open>
        <summary role="button">Capture configuration</summary>
        <section id="capture-config">
            <div class="overflow-auto">
                <table class="striped">
                    <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th class="right" scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th class=left-col" scope="row">Enabled</th>
                        <td class="right">{{capture_config.enabled}}</td>
                    </tr>
                    <tr>
                        <th class=left-col" scope="row">Log directory</th>
                        <td class="right">{{capture_config.logDirectory}}</td>
                    </tr>
                </table>
            </div>
        </section>
    </details>

    <details open>
        <summary role="button">Memory</summary>
        <section>

            <div>
                Used: {{memory_summary.used | sizeformat}}
                Committed: {{memory_summary.committed | sizeformat}}
                <progress max="{{memory_summary.committed}}" value="{{memory_summary.used}}"/>
            </div>
        </section>
        <section>
            <div class="overflow-auto">
                <table class="striped">
                    <thead>
                    <tr>
                        <th scope="col">Property</th>
                        <th class="right" scope="col">Used</th>
                        <th class="right" scope="col">Committed</th>
                        <th class="right" scope="col">Max</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for e in memory %}
                    <tr>
                        <th class=left-col" scope="row">{{e.key}}</th>
                        <td class="right">{{e.value.used | sizeformat}}</td>
                        <td class="right">{{e.value.committed | sizeformat}}</td>
                        <td class="right">{{e.value.max | sizeformat}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </details>
</main>
</body>
</html>